@charset "UTF-8";
/* CSS Document */
/* Colors
light brown background-color:  #e6a14b;
light blue background-color:  #7ed1eb;
dark brown background-color:  #9E6B47;
icon dark brown: #6d4121




*/

* {
	font-family: Eau, Century Gothic, Sans-serif;
}


body {
	color: white;
	background-color: #e6a14b;
	margin: 0;
	padding: 0;
}

.headcontainer {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}





/*Top*/


header {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #7ed1eb;
}

.sticky {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
}


#logo {
	width: 35%;
	float: left;
	display: inline;
	margin: 2% 2%;
	padding: 0;
	border-radius: 5px;
}

#toolbar {
	width:100%;
	float:right;
	display: inline;
	margin: 0;
	padding: 0 15% .75% 5%;
	position: relative;
	left: 160px;
	background-color: #9E6B47;
	border-radius: 60px;

}

#trackmealicon {
	float: left;
	display: inline;
	width: 8%;
	margin: 7% 4% 6% 6%;
}




#checkmealicon {
	float: left;
	display: inline;
	width: 9%;
	margin: 6% 4% 5% 4%;
}



#bookmarkicon {
	float: left;
	display: inline;
	width: 8%;
	margin: 6.5% 4% 6% 4%;
}

#messageicon {
	float: left;
	display: inline;
	width: 8%;
	margin: 6% 4% 6% 4%;
}

#findicon {
	float: left;
	display: inline;
	width: 7%;
	margin: 8% 4% 6% 3%;
	position: relative;
	bottom: 5px;
}

.profile {
	width: 100%;
	float: right;
	display: inline;
	margin: 0;
	padding: 0 5% 0 0;
	position: relative;
	left: 60px;
	background-color: #9E6B47;
}

.profile img {
	width: 25%;
	float: left;
	border-radius: 5px;
	margin: 7% 2% 9% 5%;
}

.profile a h2 {
	width: 45%;
	font-size: 14px;
	float: left;
	display: inline;
	margin: 11% 2% 0 5%;
	padding: 0 0 1% 0;
	color: white;
	transition: all .25s 0;
}


.profile a h2:hover {
	text-decoration: underline;
}

.profile a h4 {
	float: left;
	display: inline;
	margin: 2% 5% 0 5%;
	padding: 0;
	color: white;
	font-size: 12px;
	text-decoration: none;
	transition: all .25s 0;
}

.profile a h4:hover {
	text-decoration: underline;
}










/*Content*/
.timeline {
	width: 100%;
	margin: 8% 0;
	padding: 0;
}

.view1 {
	width: 100%;
	float: left;
	display: inline;
	color: black;
	padding: 0;
	margin: 0 0 3% 2%;
	border-radius: 5px;
	background-color: #FFF;
}

.view1 img {
	width: 98%;
	margin:2% 1%;
	padding:0;
}

.view1 div {
	margin: 0 2%;
	padding:0;
}

.view1 div img {
	width: 15%;
	height: 8%;
	float: left;
	display: inline;
	border-radius: 5px;
	margin: 2% 2% 0 1%;
	padding: 0;
}

.view1 h3{
	width: 70%;
	margin: 0;
	padding: 7% 0 4% 0;
	float: left;
	display: inline;
}

.view1 p{
	width:96%;
	margin:2% 2% 5% 2%;
	padding:0;
}


.view1 div h3:hover {
	text-decoration: underline;
}


.view1 a:link, a:visited{
	color:black;
	margin:0;
	padding:0;
	transition: all .25s 0;
}


.idbar {
	width:100%;
	background-color: #blue;
}

.idbar img{
	position: relative;
	bottom: 3px;
}

.idbar p {
	font-size: 14px;
}


.likes:link, #likes:visited {
	width:25%;
	font-size:inherit;
	text-decoration: none;
	margin: 1% 0% 3% 2%;
	padding:0;
	float: left;
	display: inline;
	color:black;
	transition: all .5s 0;
}

.likes:hover {
	color: #7ed1eb;
}




.bookmark:link, #bookmark:visited {
	width:35%;
	font-size:14px;
	text-decoration: none;
	margin: 1% 8% 3% 0;
	padding:0;
	float: left;
	display: inline;
	color:gold;
	transition: all .5s 0;
}

.bookmark:hover {
	color: gold;
}


.share:link, #share:visited {
	width:30%;
	font-size:14px;
	text-decoration: none;
	margin: 1% 0% 2% 0;
	padding:0;
	float: left;
	display: inline;
	color:black;
	transition: all .5s 0;
}

.share:hover {
	color: #C5FF7F;
}
	

.comments {
	font-size: 18px;
	margin:2% 0 5% 2%;
	padding:0;
	float: left;
	display: inline;
	clear: both;
}

.username {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.username:hover {
	text-decoration: underline;
}




/*Columns*/
.column {
	float: left;
}

.column:first-child {
	margin-left: 0;
}

.column.full {
	width: 100%;
}

.column.three-fourths {
	width: 78%;
	margin: 1% 0 0 1%;
	padding: 0;
}

.column.two-thirds {
	width: 65%;
}

.column.half {
	width: 47.5%;
}

.column.one-third {
	width: 30%;
	margin: 0 0 0 2%
}

.column.one-fourth {
	width: 24%;
	margin: 0 1% 0 0;
	padding: 0;
}

.column.one-sixth {
	width: 16%;
	margin: 0;
	padding: 0;
}

.column.three-three-fourths {
	width: 24%;
	margin: 1% .5% 0 1.5%;
}

.nopadding {
	padding: 0;
}

/* Create Rows */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
	max-height: 50%;
}

.clearfix:after {
	clear: both;
}


/* Media Queries */
@media screen and (max-width: 450px) {
.social {
	display: none;
}
	
.column.one-fourth {
	display: none;
}
	
.column.three-three-fourths {
	float:none;
	width: 100%;
}
	
}

@media screen and (max-width: 1100px) {

	
.column.three-three-fourths {
	float:none;
	width: 100%;
}

	
}

@media screen and (max-width: 800px) {

	
.column.three-three-fourths {
	float:none;
	width: 100%;
}
	
}

