/*********************
*********NOTES*********
**********************

font-family: OCR A Std;
font-color: white;
pickt blue: #1b75ba;
pickt orange: #f05a28;

flex-box
	display: flex;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;

*/








/*********************
*******CONTENT********
*********************/

/*Global*/
html{
	font-family: "Avenir Next Condensed", "Helvetica", "sans-serif"
}

body {
	/*background-image: url('../images/bouldorigins1280.jpg');*/
	box-sizing: border-box;
	color: #1b75ba;
	max-width: 586px;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #f05a28;
	max-width: 480px;
	width: 100%;
	height: 586px;
	margin: 0;
	padding: 0;
}

.welcome-page {
	position: absolute;
	top: 0;
	z-index: 5;
}

.flex {
	display: flex;
	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
}








/*****************
******************
***WELCOME PAGE***
******************
******************/ 
.content__gender-select {
	margin: 10% 0;
}

.content__gender-select__male {
	order: 1;
	background-color: white;
	padding: 2%;
	margin: auto;
	width: 160px;
	height: 160px;
	border-radius: 180px;
	text-align: center;
	vertical-align: middle;
}

.male__symbol {
	width: 150px;
	height: 150px;
	padding: 0;
}

.content__gender-select__female {
	order:2;
	background-color: white;
	padding: 2%;
	margin: auto;
	width: 160px;
	height: 160px;
	border-radius: 180px;
	text-align: center;
	vertical-align: middle;
}

.female__symbol {
	width: 150px;
	height: 150px;
	padding: 0;
}

.content__gender-select__just-shop{
	width: 60%;
	font-size: 2rem;
	padding: 2%;
	margin: 10% auto;
	background-color: #1b75ba;
	color: white;
	border-radius: 10px;
	text-align: center;
}

.content__gender-select__just-shop{
	background-color: #1b75ba;
}











/*****************
******************
**OPTIONS CONTENT*
******************
******************/ 


.content__clothes-options {
	width: 100%;
	padding: 3% 5%;
	margin: 0;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
}

.content__clothes-option {
	width: 30%;
	background-color: white;
	margin: .5em auto;
	border-radius: 20px;
}

.resize {
	width: 130px;
}

.shirt{
	order:1;
	align-self: flex-start;
}

.longsleeve{
	order:2;
}

.outerwear{
	order:3;
}

.shorts{
	order:4;
}

.dress {
	order: 4;
}

.pants{
	order:5;
}

.skirt {
	order: 5;
}

.tank{
	order:6
}

.underwear{
	order:7;
}

.shoes{
	order:8;
}

.accessories{
	order:9;
	align-self: flex-end;
}







/*****************
******************
MEN'S SHIRTS CONTENT
******************
******************/ 


.content-item {
	width: 300px;
	height: 370px;
	margin: 5% auto 0;
	background-color: white;
	border-radius: 10px;
}

.content-price {
	position: relative;
	left: 320px;
	bottom: 50px;
	width: 100px;
	height: 100px;
	background-color: #1b75ba;
	border-radius: 60px;
}















/*********************
****MEDIA QUERIES*****
*********************/


@media (min-width: 768px) {



}












@media (min-width: 1024px) {



	
}















@media (min-width: 1280px) {




	
}


/*********************
*********GRID*********
*********************/

/* Create Rows */
.row:before, .row:after {
	content: " ";
	display: table;
	max-height: 50%;
}

.row:after {
	clear: both;
}


/*columns*/
.col-100 {
	width: 100%;
}

.col-90 {
	width: 90%;
}

.col-80 {
	width: 80%;
}

.col-70 {
	width: 70%;
}

.col-60 {
	width: 60%;
}

.col-50 {
	width: 50%;
}

.col-40 {
	width: 40%;
}

.col-30 {
	width: 30%;
}

.col-20 {
	width: 20%;
}

.col-10 {
	width: 10%;
}

.col-custom1 {
	width: 0;
}

.col-custom2 {
	width: 0;
}

.col-custom3 {
	width: 0;
}